body{
    background-color: lightgray;
    margin: 0;
}
header{
    background-color: white;
    padding: 0.01rem;
}
div.postHeader{
    display: flex;
    width: 100%;
}
div.postHeader h2{
    margin-right: 70%;
}
div.postHeader span{
    margin-top: 5%;
}
div.post{
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 0.8rem;
}
div.container{
    width: 40rem;
    margin: auto;
}
div.iconContainer{
    display: flex;
}
div.heart, div.comment, div.share, div.bookmark{
    margin: 0.4rem;
}
div.bookmark{
    margin-left: 75%;
}
